@using EcoMeal.Site.Components.BusinessCard

@if (Businesses == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="row">
		@foreach (var business in Businesses)
		{
			<div class="col-md-4 mb-4">
				<BusinessCard Business="business" />
			</div>
		}
	</div>
}