@using EcoMeal.Site.Components.BusinessCard
@using Microsoft.AspNetCore.Components.Authorization

@if (Businesses == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="row" justify-content-center>
		<AuthorizeView Roles="Admin">
			<a href="/addBusiness" class="btn btn-success mb-4 rounded-pill">
				<i class="bi bi-plus-lg me-2"></i> Adaugă Afacere Nouă
			</a>
		</AuthorizeView>

		@foreach (var business in Businesses)
		{
			<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
				<BusinessCard Business="business" OnDeleteRequested="HandleDelete" />
			</div>
		}
	</div>
}

